eclipse/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments.gen
eclipse/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_3
eclipse/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/_remote.repositories
eclipse/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/jre-1.0.0-20140604.182326-1-call.zip
eclipse/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/maven-metadata-models.xml
eclipse/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/resolver-status.properties
eclipse/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/_remote.repositories
eclipse/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/index-0.0.0-20140605.014212-1.zip
eclipse/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_2.fnm
eclipse/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_2.frq
eclipse/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_2.nrm
eclipse/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_2.prx
eclipse/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_2.tii
eclipse/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_2.tis
eclipse/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/maven-metadata-models.xml
eclipse/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/resolver-status.properties
eclipse/.metadata/.plugins/org.eclipse.jdt.core/542308474.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/555836820.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/569083296.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/586704602.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/618781407.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/669567032.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/682844964.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/683184654.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/728132027.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/739078005.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/745421606.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/78322635.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/980248495.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/980448984.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
eclipse/.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
eclipse/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
eclipse/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
eclipse/.metadata/.plugins/org.eclipse.jdt.core/3989021445.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/4018706093.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/4051187556.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/4149142647.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/4218244565.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/4257325822.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/4263082653.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/4270066456.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/442246693.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
eclipse/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
eclipse/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
eclipse/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
eclipse/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
eclipse/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
eclipse/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
eclipse/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
eclipse/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
eclipse/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
eclipse/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
eclipse/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
eclipse/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Minecraft/2015/4/15/refactorings.history
eclipse/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Minecraft/2015/4/15/refactorings.index
eclipse/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
eclipse/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
eclipse/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
eclipse/.metadata/.plugins/org.eclipse.jdt.core/3467264322.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/3521617142.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/3523089327.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/3542159137.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/3550028598.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/3616904096.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/3626931047.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/369160493.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/3730681049.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/3824181470.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/384216248.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/3883543086.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/3015671029.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/3187315179.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/3256372620.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/3337014290.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/3448897104.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/3454890433.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/3886234745.index
eclipse/.metadata/version.ini
eclipse/.recommenders/caches/identified-project-coordinates.json
eclipse/.recommenders/caches/manual-mappings.json
eclipse/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_2.fdt
eclipse/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_2.fdx
eclipse/.metadata/.plugins/org.eclipse.jdt.core/2704441858.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/2706502329.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/2708239607.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/286606776.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/2914555337.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/3004095846.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/2046485738.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/2169397943.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/2248646165.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/2385345899.index
eclipse/.metadata/.log
eclipse/.metadata/.mylyn/.taskListIndex/segments.gen
eclipse/.metadata/.mylyn/.taskListIndex/segments_1
eclipse/.metadata/.mylyn/.tasks.xml.zip
eclipse/.metadata/.mylyn/repositories.xml.zip
eclipse/.metadata/.mylyn/tasks.xml.zip
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.location
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.markers.snap
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.syncinfo.snap
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.location
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.markers.snap
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.syncinfo.snap
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/org.eclipse.jdt.core/state.dat
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.gathering.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/
eclipse/.metadata/.plugins/org.eclipse.jdt.core/
eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Server.launch
eclipse/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
eclipse/.metadata/.plugins/org.eclipse.core.resources/.safetable/
eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/
eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/
eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/
eclipse/.metadata/.lock
eclipse/.metadata/.plugins/org.eclipse.core.resources/9.snap
eclipse/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.gradle/
eclipse/logs/
eclipse/
*.jar
*.exe
bin/
.settings/org.eclipse.jdt.core.prefs
build.gradle
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
